<%= render 'shared/header' %>
<div class="africa-image">

<div class="top-wrapper">
  <div class="africa">
    <h1 class="result display-1 text-center">🤖診断結果🤖</h1>
    <br>
    <br>
    <p class="h2 stroke description text-center font-weight-bold">５問中、３問にYESと答えたあなた！<br>👨‍🔬安定した精神状態です！<br></p><br>
    <p class="h3 stroke-2 description text-center font-weight-bold">アフリカの素敵なことわざと、強靭でグルーヴィーな音楽をどうぞ！</p>
    <div class="row tweet justify-content-center">
      <button onclick="tweet()" class="btn btn-info btn-lg mt-10">Tweetする</button>
    </div>
    <div class="row tweet justify-content-center">
      <%= link_to "再診はコチラから", homes_index_path, method: :get, class: 'btn btn-primary btn-lg active btn-link' %>
    </div>
    <div class="blank-2"></div>
    <p class="h6 present text-center">- * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - </p>
    <p class="h2 stroke-3 present text-center">"ゆっくりゆっくり バナナは熟れる"</p>
    <p class="h5 stroke-4 present text-center">成熟した人間になるには時間がかかるという意</p><br>
    <p class="h6 present text-center">- * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - </p>
  </div>
  <div class="blank"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <p class="h1 description text-center stroke-2">🇿🇦南アフリカを堪能する！🇿🇦<br>🇿🇦プレイリストたち！🇿🇦</p>
          <br><br>
          <% result.each do |track| %>
            <p class="h5 mt-lg-3 playlist-name text-center stroke-3">プレイリスト名： <%= track.name %></p>
            <div class="embed-responsive embed-responsive-4by3"> 
              <iframe  style="border-radius: 2% 2% / 2% 2%;" src="https://open.spotify.com/embed/playlist/<%= track.id %>?utm_source=generator" width="100%" height="300" frameBorder="1" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
            <br>
          <% end %>
      </div>
    </div>
    <br><br>
    <p class="h6 present text-center">- * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - </p>
    <div class="bkank-2"></div>

    <div class="track-name">
      <p class="lead-1 description stroke-2">🇿🇦南アフリカが誇る！🇿🇦<br>🇿🇦パーティーソングたち！🇿🇦</p>
      <p class="h2 set-3 stroke-3">👨‍🔬＜カラダを動かそう！リズムに合わせて！</p>
        <div class="row justify-content-center">
          <% popular_tracks.each do |track| %>

            <br>
            <div class="col-4 m-4 embed-responsive embed-responsive-1by1"> 
              <iframe  style="border-radius: 2% 2% / 2% 2%;" src="https://open.spotify.com/embed/track/<%= track.id %>?utm_source=generator" width="90%" height="" frameBorder="1" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
            <br>
          <% end %>
        </div>
    </div>

  </div>
</div>

</div>

<% set_meta_tags title: "アフリカ" %>

<script>
function tweet() {
  const dataText = '\nツラい気持ち診断をしたところ、アフリカのノリノリな音楽を処方されました！'
  const dataUrl = 'https://mental-dj.herokuapp.com/'
  const dataVia = 'jiffu_fu'
  const dataHashtags = 'メンタルDJ' + '&hashtags=個人開発' + '&hashtags=クソアプリ'

  window.open(
    'https://twitter.com/intent/tweet?&text=' +
      dataText +
      '%0a&' +
      '%0a&' +
      '&url=' +
      dataUrl +
      '%0a&' +
      '&via=' +
      dataVia +
      '&hashtags=' +
      dataHashtags
  )
}

</script>