<div class="main-content">
</div>

<div id="tinderslide" class="container-fluid">
  <ul>
    <% @diagnoses.each do |diagnose| %>
      <li data-diagnoses="<%= diagnose.text %>">
        <div class="diagnoseText"><%= diagnose.text %></div>
        <%= image_tag diagnose.image %>
        <div class="like"></div>
        <div class="dislike"></div>
        <h1 class="card justify-content-center">ðŸ‘ˆ ã€€NOã€€ðŸ¤”ã€€YES ðŸ‘‰</h1>
      </li>
    <% end %>
  </ul>
  <%= form_with url: results_show_path, method: :get, local: true do |f| %>
  <%= f.number_field :count, id: "count", value: 0, min: 0, max: 5 %>
  <%= f.submit("", class: "noUser", id: "submit") %>
  <% end %>
</div>
<% set_meta_tags title: "è¨ºå¯Ÿä¸­" %>


<script>
  // ã‚¹ãƒ¯ã‚¤ãƒ—ã™ã‚‹ãƒ¦ãƒ¼ã‚¶ãƒ¼æ•°ã®å®šæ•°ã‚’å®šç¾©
  var usersNum = 5
  var currentUserIndex = 0;
  var countUp = 0;
  var countLike = 0;
  var postReaction = function (diagnoses_id, reaction) {
    $.ajaxSetup({
        headers: {
            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content'),
        }
    });
    
  }
  $("#tinderslide").jTinder({
    onDislike: function (item) {
      currentUserIndex++;
      checkUserNum();
      var diagnoses_id = item[0].dataset.diagnoses_id
      postReaction(diagnoses_id, 'dislike')
    },
    onLike: function (item) {
      currentUserIndex++;
      var diagnoses_id = item[0].dataset.diagnoses_id
      postReaction(diagnoses_id, 'like')
      // addLike++;
      // console.log(countLike);
      // console.log($("#count").val('') = Number(countLike));
      
      // $('#count').val(Number(countLike));
      // $("#count").val('') = Number(countLike);
      // console.log(countLike);
      // console.log($("#count").val('') = Number(countLike));
      ++countLike;
      $("#count").val(String(countLike));
      checkUserNum();
      // var valText = $('#count').defaultValue;
      // var val = Number(countLike) || 0;  // NaNã®ã¨ã0ã«ã™ã‚‹
      
    },
    animationRevertSpeed: 200,
    animationSpeed: 400,
    threshold: 1,
    likeSelector: '.like',
    dislikeSelector: '.dislike'
  });
  

  function checkUserNum() {
    // ã‚¹ãƒ¯ã‚¤ãƒ—ã™ã‚‹ãƒ¦ãƒ¼ã‚¶ãƒ¼æ•°ã¨ã‚¹ãƒ¯ã‚¤ãƒ—ã—ãŸå›žæ•°ãŒåŒã˜ã«ãªã‚Œã°addClassã™ã‚‹
    if (currentUserIndex === usersNum){
      $(".noUser").addClass("is-active");
      // $("#count").value = addLike;
      $("#submit").click();
      return;
    }
  };

$(function () {
  if (window.matchMedia('(max-width: 768px)').matches) {
    //ã“ã“ã«ã‚¹ãƒžãƒ›ãƒ»ã‚¿ãƒ–ãƒ¬ãƒƒãƒˆã®æ™‚ã®js
  } else {
    //ã“ã“ã«PCã®æ™‚ã®js
    const moons = ['ðŸ•ðŸ˜Š...........ðŸ’£', 'ðŸ•‘ðŸ˜œ..........ðŸ’£', 'ðŸ•’ðŸ˜.........ðŸ’£', 'ðŸ•“ðŸ¥±........ðŸ’£', 'ðŸ•”ðŸ¥´.......ðŸ’£', 'ðŸ••ðŸ¤”......ðŸ’£', 'ðŸ•–ðŸ˜Ÿ.....ðŸ’£', 'ðŸ•—ðŸ˜¨....ðŸ’£', 'ðŸ•˜ðŸ˜­...ðŸ’£', 'ðŸ•™ðŸ¤®..ðŸ’£', 'ðŸ•šðŸ¥º.ðŸ’£', 'ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥', 'ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥', 'ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥ðŸ’¥', 'ðŸ˜‡GAME_OVERðŸ˜‡', 'ðŸ˜‡GAME_OVERðŸ˜‡', 'ðŸºãã‚“ãªã«æ‚©ã¾ã‚“ã§ã‚‚ãˆãˆã‚“ã‚„ã§ðŸº', 'ðŸºðŸºãã‚“ãªã«æ‚©ã¾ã‚“ã§ã‚‚ãˆãˆã‚“ã‚„ã§ðŸºðŸº', 'ðŸºðŸºãã‚“ãªã«æ‚©ã¾ã‚“ã§ã‚‚ãˆãˆã‚“ã‚„ã§ðŸºðŸº', 'ðŸºðŸºãã‚“ãªã«æ‚©ã¾ã‚“ã§ã‚‚ãˆãˆã‚“ã‚„ã§ðŸºðŸº', 'ðŸºðŸºðŸºãã‚“ãªã«æ‚©ã¾ã‚“ã§ã‚‚ãˆãˆã‚“ã‚„ã§ðŸºðŸºðŸº', 'ðŸºðŸºðŸºãã‚“ãªã«æ‚©ã¾ã‚“ã§ã‚‚ãˆãˆã‚“ã‚„ã§ðŸºðŸºðŸº', 'ðŸºðŸºðŸºãã‚“ãªã«æ‚©ã¾ã‚“ã§ã‚‚ãˆãˆã‚“ã‚„ã§ðŸºðŸºðŸº', 'ðŸºðŸºðŸºãã‚“ãªã«æ‚©ã¾ã‚“ã§ã‚‚ãˆãˆã‚“ã‚„ã§ðŸºðŸºðŸº', 'ðŸºðŸºðŸºðŸºãã‚“ãªã«æ‚©ã¾ã‚“ã§ã‚‚ãˆãˆã‚“ã‚„ã§ðŸºðŸºðŸºðŸº', 'ðŸºðŸºðŸºðŸºãã‚“ãªã«æ‚©ã¾ã‚“ã§ã‚‚ãˆãˆã‚“ã‚„ã§ðŸºðŸºðŸºðŸº', 'ðŸºðŸºðŸºðŸºãã‚“ãªã«æ‚©ã¾ã‚“ã§ã‚‚ãˆãˆã‚“ã‚„ã§ðŸºðŸºðŸºðŸº','ï¼¼ï¼¼ï¼¼ï¼¼ï¼¼ï¼¼ãã‚“ãªã«æ‚©ã¾ã‚“ã§ã‚‚ãˆãˆã‚“ã‚„ã§ï¼ï¼ï¼ï¼ï¼ï¼', 'ï¼¼ï¼¼ï¼¼ï¼¼ï¼¼ï¼¼ãã‚“ãªã«æ‚©ã¾ã‚“ã§ã‚‚ãˆãˆã‚“ã‚„ã§ï¼ï¼ï¼ï¼ï¼ï¼'];
    let count = 0;
    setInterval(()=> {
    location.hash = moons[count % moons.length];
    count++;
}, 2000);
  }
})

</script>